.jumbotron {
  text-align: center;

}
h2 {
  text-align: center;
}

h3:hover {
  text-decoration: underline;
}

h3 {
  text-align: center;
  cursor: pointer;
  color: #e567ac;
}
#classic {
  text-align: center;
  display: none;
}

#excrisp {
  text-align: center;
  display: none;

#special {
  display: none;
}

#coverPhoto {
}

#addToppings {
}

#checkoutButton {
}

#container2 {
  display: none;
}

#receiptTitle {
}

#receiptDescription {
}

#receiptTotal {
}

#thanks {
  color: ##e567ac;
  text-align: center;
}

.well {
}
